
html {
  background-color: white;
}
 
body {
  background-color: white;
  width: 800px;
  padding: 0px 20px 20px 20px;
  margin: auto;  
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
  background-image:url("https://www.kindpng.com/picc/m/85-856593_white-question-mark-transparent-background-question-mark-png.png");
}

h1 {
  font-family: neue-haas-grotesk-display, sans-serif;
  line-height: 1.1;
  font-weight: 600;
	font-size: 80px;
	text-align: center;
	margin: 0;
	padding: 20px 0;
	color: #000000;
}

img {
  border-radius: 8px;
  display: block;
  margin: 0 auto;
  align: center;
}

p {
  color: red;
}

table {
	border: 1px solid black;
	background-color: #f1f1c1;
}

textarea {
  width: 700px;
  height: 100px;
}

/* Defining styling for a specific element type - each question */
.question {
  background-color: black;
  color: white;
  margin: 20px;
  padding: 20px;
}

.comment {
  background-color: black;
  color: white;
  margin: 20px;
  padding: 20px;
}

/* Defining styling for a specific element type - large block buttons */
.button {
  position: relative;
  display: inline-block;
  margin: 0 0 25px 0px;
  padding: 15px 10px;
  width: 250px;
  background: #0099cc;
  color: #fff;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  font-weight: bold;
  line-height: 20px;
  cursor: pointer;
  font-size: 1rem;
}

/* Defining styling for a specific element with an id */
#signature {
  text-align: right;
  color: #4c4e55;
  font-weight: 400;
  font-size: 16px;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
  line-height: 1.2;
}

.likert{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}
li {
  float: left;
}